<% include ../partials/header %>


<header class="jumbotron">
    <div class="container">
        <h1>Welcome to YelpCamp</h1>
        <p>
            View our hand-picked campgrounds from all over the world
        </p>
        <P>
            <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new campground</a>
        </p>
    </div>
</header>
<% campgrounds.forEach(function(campground){ %>
    <a href="/campgrounds/<%= campground._id %>">
        <div class="thumbnailCamp">
            <img src="<%= campground.image %>"/>
            <h2><span><%= campground.name %></span></h2>
        </div>
    </a>
<% }); %>








<% include ../partials/footer %>